body{
    background-color: #584f4f;
    color: ffffff;
}

.cabeçalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabeçalho-item-lista{
        display: inline-block;
        margin: 016px;;
}

.logo{
    width: 25%;
}